#modal{
display: none;
}
.popup_add_prog{
	width: 360px;
	height: auto;
	overflow: hidden;
	border-radius: 5px;
	background-color: rgb(239,243,247);
}
.popup_prog_header{
	display: table;
	width: 100%;
	height: 44px;
	background-color: rgb(72,203,232);
	border-bottom: 9px solid rgb(103,223,250);
	margin-bottom: 14px;
}
.prog_header_text{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-family: 'fira_sansregular';
	font-size: 25px;
	color:#ffffff; 
}
.popup_prog_body{
	width: 320px;
	margin: 0 auto;
}
.prog_span{
	display: block;
	margin-bottom: 9px;
	font-family: 'fira_sansbook';
	font-size: 17px;
	color: #959aa8;
}
.prog_input{
	width: 100%;
	height: 39px;
	color: rgb(72,203,232);
	font-family: 'fira_sanslight';
	font-size: 13px;
	border: 1px solid rgb(72,203,232);
	border-radius: 5px;
	margin-bottom: 14px;
}
.prog_input.textarea{
	height: 100px;
}
.prog_send{
	background-color: rgb(103,223,250);
	padding: 3px 10px;
	border:none;
	border-bottom: 4px solid rgb(59,168,192);
	border-radius: 5px;
	color:#ffffff;
	font-family: 'fira_sansbook';
	font-size: 19px;
	margin-bottom: 23px;
}
.prog_send:hover{
	border:none;
	padding: 5px 10px;
}
.prog_row{
	text-align: center;
}