.contact-me-header{
	text-align: center;
	vertical-align: center;
	width: 100%;
	height: auto;
	background-color: #48cbe8;
	border-radius: 5px 5px 0 0;
	border-bottom: 17px solid #67dffa;
	margin-bottom: 50px;
}
.contact-me-text{
	padding: 50px 0;
	font-size: 27px;
	color:#ffffff;
	font-family: 'fira_sansbook';
	font-style: normal;
}
.contact-me-body{width: 420px;margin:0 auto;}
.label{
	font-family: 'fira_sanslight';
	font-size: 19px;
	color: #959aa8;
}
.input{
	display: block;
	border: 1px solid rgb(72, 203, 232);
	border-radius: 5px;
	background-color: #ffffff;
	color: rgb(72, 203, 232);
	height: 40px;
}
.textarea{
	height: 200px;
	width: 420px;
	border: 1px solid rgb(72, 203, 232);
	border-radius: 5px;
	background-color: #ffffff;
	color: rgb(72, 203, 232);
}
.form-line{margin-bottom: 20px;}
.form-group {display: block;float: left;}
.form-group.email{float: right;}
.form-capatcha{
	height: 100px;
	width: 200px;
	background-color: #ffffff;
	display: block;
	float: left;
	border: 1px solid rgb(72, 203, 232);
	border-radius: 5px;
}
.form-group.code{float: right;}
.btn {
  border-radius: 5px;
  background-color: rgb(72, 203, 232);
  height: 33px;
  border: solid #3ba8c0;
  border-width: 0 0 2px 0;
  color: #f6f6f6;
  font-family: 'fira_sansbook';
  font-size: 20px;
  padding: 0px 20px;
 }
 .btn:hover{
 	border-width: 0;
 }
 .form-group.clear{
 	float: right;
 }
 .btn.clear{
 	background: #849db5;
  	border-color: #687b8f;
 }
.input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.input::-webkit-input-placeholder {color:rgb(72, 203, 232);}
.input::-moz-placeholder          {color:rgb(72, 203, 232);}/* Firefox 19+ */
.input:-moz-placeholder           {color:rgb(72, 203, 232);}/* Firefox 18- */
.input:-ms-input-placeholder      {color:rgb(72, 203, 232);}

.textarea::-webkit-input-placeholder {color:rgb(72, 203, 232);}
.textarea::-moz-placeholder          {color:rgb(72, 203, 232);}/* Firefox 19+ */
.textarea:-moz-placeholder           {color:rgb(72, 203, 232);}/* Firefox 18- */
.textarea:-ms-input-placeholder      {color:rgb(72, 203, 232);}