html{
	width: 100%;
	height: 100%;
}
body{
	background: url(../img/background.png) repeat;
	width: 100%;
	height: 100%;
}

/* прибьём футер к низу  -- Ваня это просто хак - запомни это и используй, не заморачивайся по поводу того как он работает */
.wrapper{
	position: relative;
	min-height: 100%;
	min-width: 970px; /* обязательно указать минимальную ширину примерно на 10 пикселей шире контейнера*/
	height: auto!important;
	overflow: hidden;
}
.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}
.page-footer{
	height: 80px;
	margin-top: -80px;	
}
/* прибьём футер к низу - конец*/

/* общие классы */
.container {
	width: 960px;
	margin: 0 auto;
}

/* clearfix */
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after, .clearfix:after {
  clear: both;	
}
/* clearfix - конец */
/* общие классы - конец */


.header-container{
	height: 100%;
	display: block;
}
.page-header{
	position: relative;
	width: 100%;
	height: 116px;
	background-color: #eff3f7;
	margin-bottom:39px;
}
.header-logo{
	position: absolute;
	top: 38px;
	left: 98px;
}
.header-logo .text-logo{
	position: absolute;
	left:99999px;
}
.header-social{
	position: absolute;
	top:35px;
	right: 100px;
}
.social-group{
	margin: 0;
	padding:0;
	min-width: 250px;
}
.social-group .social-item{
	display: inline-block;
	list-style: none;
	margin-left: 24px;
	height: 47px;
  	width: 47px;
}
.social-group .social-item:first-child{margin-left: 0;}
.social-link{
	display: block;
	text-indent: -9999px;
	height: 100%
}
.social-link.vk{background: url(../img/vk.png) center no-repeat;}
.social-link.tw{background: url(../img/tv.png) center no-repeat;}
.social-link.fb{background: url(../img/fb.png) center no-repeat;}
.social-link.git{background: url(../img/git.png) center no-repeat;}

.social-link.vk:hover{background: url(../img/vk-hover.png) center no-repeat;}
.social-link.tw:hover{background: url(../img/tv-hover.png) center no-repeat;}
.social-link.fb:hover{background: url(../img/fb-hover.png) center no-repeat;}
.social-link.git:hover{background: url(../img/git-hover.png) center no-repeat;}

.header-bottom-gradient{
	width: 100%;
	height: 2px;
	background: rgb(242,246,250);
	background: -moz-linear-gradient(left,  rgb(242,246,250) 0%, rgb(28,102,122) 48%, rgb(242,246,250) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(242,246,250)), color-stop(48%,rgb(28,102,122)), color-stop(100%,rgb(242,246,250)));
	background: -webkit-linear-gradient(left,  rgb(242,246,250) 0%,rgb(28,102,122) 48%,rgb(242,246,250) 100%);
	background: -o-linear-gradient(left,  rgb(242,246,250) 0%,rgb(28,102,122) 48%,rgb(242,246,250) 100%);
	background: -ms-linear-gradient(left,  rgb(242,246,250) 0%,rgb(28,102,122) 48%,rgb(242,246,250) 100%);
	background: linear-gradient(to right,  rgb(242,246,250) 0%,rgb(28,102,122) 48%,rgb(242,246,250) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6fa', endColorstr='#f2f6fa',GradientType=1 );
}
/* Сайдбар */
.sidebar {
	width: 250px;
	float: left;
}
/* Навигация */
.navigation{
	overflow: hidden;
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}
.navigation .navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation .navigation-item {
	border-top: 2px solid #3ba8c0;
	margin: 0 11px;
}
.navigation .navigation-item:first-child{
	border-top: none;
}
/* Навигация - текущий пункт меню*/
.navigation .navigation-item.current{	
	background: #3ba8c0;
	margin: 0;
	border-bottom: none;
	padding-left: 11px;
	margin-bottom: -2px; /* Хак */
}

.navigation .navigation-item.current .navigation-link{
	color: #f9fafb;
	font-size: 22px;
}
/* Навигация - текущий пункт меню - конец */
.navigation .navigation-link {
	font-family: 'fira_sansbook';
	display: block;
	font-size: 20px;
	text-decoration: none;
	color: #959aa8;
	margin-left: 16px;
	padding: 20px 0px;
}
.navigation .navigation-link:hover{
	color: #3ba8c0;
} 
/* Навигация - конец */
/* Контакты */
.contacts{
	font-style: normal;
	font-family: 'fira_sansbook';
	background: #3ba8c0;
	overflow: hidden;
	border-radius: 4px;
	margin-bottom: 26px;
	color: white;
}
.contacts .contacts-header{
	background: #3ba8c0;
  border-radius: 4px 4px 0 0;
	padding: 8px 19px 1px;
}
.contacts .header-inner-text{
	font-size: 20px;
	margin: 0;
	display: block;
}
.contacts .contacts-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.contacts .contacts-link{
	display: block;	
	text-decoration: none;
	padding: 6px 0 6px 82px;
}
.contacts .contact-text{
	line-height: 1.3;
	font-size: 12px;
	color: white;
}

.contacts .contacts-item{
	background: url(../img/cont.png) 42px center no-repeat;
}
.contacts .contacts-item-mail {
  background-color: rgb( 65, 185, 212 );
  background-position-y: 11px;
}
.contacts .contacts-item-phone {
  background-color: rgb( 72, 203, 232 );
}
.contacts .contacts-item-skype {
  background-color: rgb( 81, 218, 248 );
  background-position-y: -127px;
}
.contacts .contact-text:hover{
	border-bottom: 1px solid #fff;
}
/* Контакты - конец */
/* Главная область */
.variable-content{
	width: 650px;
	float: right;
}
/* Общие стили для всех секций */
.aboutbox{
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}
.aboutbox .aboutbox-header{
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px #3ba8c0 solid;
	margin: 0 0 23px 0;
	padding: 13px 23px;
	display: inline-block;
}
.aboutbox-body{
	padding-bottom: 40px;	
}

/* Общие стили для всех секций - конец */



/* Лицо */
.image-wrap{	
	float: left;
	margin-left: 55px;
	margin-top: 18px;		
}
.avatar-box{
	width: 142px;
	height: 142px;
	border-radius: 50% 50%;
	overflow: hidden;
	border: 5px solid #3ba8c0;
}
.avatar{
	width: 100%;
	position: relative;
	bottom:45px;
	right: 10px;
}
/* Лицо - конец */


/* Список анкетных данных */
.aboutbox .worksheet-wrap{
	float: right;
  width: 400px;
}
.worksheet-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.worksheet-info{	
	float: left;
	margin-left: 25px;
	max-width: 260px;
}
.worksheet-item{
	margin-bottom: 8px;
}
.worksheet-what {
	font-family: 'fira_sansmedium';
  font-size: 16px;
  float: left;
}
.worksheet-info{
	font-family: 'fira_sansbook';
  font-size: 15px;
  overflow: hidden;
  max-width: 218px;
}
/* Список анкетных данных - конец */



/* Ключевые навыки */
.worksheet-info .skills-list{	
	width: 224px;
	padding: 0;
	list-style: none;
}
.skills-list .skill-item{
	display: inline-block;
	font-family: 'ProximaNovaCondensedSemibold';
  background: #3ba8c0; /* Old browsers */
	background: -moz-linear-gradient(top,  #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ba8c0), color-stop(49%,#3ba8c0), color-stop(50%,#2e8ca2), color-stop(99%,#2e8ca2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */
	border-radius: 4px;
	padding: 0 7px;
	margin-right: 6px;
	color: white;
	display: inline-block;
	line-height: 1.2;
	min-width: 40px;
	text-align: center;
}


/* Опыт работы и образование*/
.aboutbox .aboutbox-list{
	list-style: none;
	padding: 0 0 0 50px;
	margin: 0;
}
.aboutbox .aboutbox-item{
	padding: 0 0 0 76px;
	margin-bottom: 20px;
}
.aboutbox .aboutbox-item:last-child{
	margin-bottom: 0;
}
.aboutbox-item .where{
	font-family: 'fira_sansbook';
  	font-size: 16px;
}
.aboutbox-item .period{
	font-family: 'fira_sanslight';
  	font-size: 15px;
  	line-height: 1;
}
.aboutbox-item.icon-work{
	background: url(../img/portfel.png) 9px center no-repeat;
}

.aboutbox-item.icon-college{
	background: url(../img/college.png) 9px center no-repeat;
}
.aboutbox-item.icon-course{
	background: url(../img/course.png) 17px center no-repeat;
}
/* Футер */
.page-footer{	
	background-color: #eff3f7;
	font-family: 'fira_sanslight';
  	color: #4a545d;
}
.gradient-footer{
	width: 100%;
	height: 2px;
	background: rgb(242,246,250);
	background: -moz-linear-gradient(left,  rgb(242,246,250) 0%, rgb(28,102,122) 48%, rgb(242,246,250) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(242,246,250)), color-stop(48%,rgb(28,102,122)), color-stop(100%,rgb(242,246,250)));
	background: -webkit-linear-gradient(left,  rgb(242,246,250) 0%,rgb(28,102,122) 48%,rgb(242,246,250) 100%);
	background: -o-linear-gradient(left,  rgb(242,246,250) 0%,rgb(28,102,122) 48%,rgb(242,246,250) 100%);
	background: -ms-linear-gradient(left,  rgb(242,246,250) 0%,rgb(28,102,122) 48%,rgb(242,246,250) 100%);
	background: linear-gradient(to right,  rgb(242,246,250) 0%,rgb(28,102,122) 48%,rgb(242,246,250) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6fa', endColorstr='#f2f6fa',GradientType=1 );
}
.page-footer .container {
	padding-top: 23px;
	position: relative;  
}
.page-footer .copyright{
	margin: 0 180px;
	padding-top: 7px;
	text-align: center;
	font-size: 13px;
}
/* Логин */
.page-footer .lock{
	position: absolute;
	top: 26px;
	left: 20px;	
}
.lock .lock-inner {
	display: block;
	height: 40px;
	font-family: 'fira_sansbook';
  	font-size: 16px;
  	line-height: 2.2;
	color: #4a545d;
	text-decoration: none;
	background: url(../img/lock-close.png) no-repeat;
	padding-left: 24px;
}
.lock .lock-inner:hover{
	text-decoration: underline;
	background: url(../img/lock-open.png) no-repeat;
}
/* Логин - конец */
/* Футер - конец */